In [2]:
valor1 = input('Digite um número inteiro: ')
valor2 = input('Digite outro número inteiro: ')

In [3]:
print(valor1 == valor2)
print(valor1 > valor2)
print(valor1 < valor2)
print(valor1 >= valor2)
print(valor1 <= valor2)

False
False
True
False
True

In [4]:
dias = [3,1,10]
dias[0]

3

In [5]:
dias[1]

1

In [6]:
dias[2]

10

In [11]:
z = [3,8,9]

In [12]:
z[0] = 7

In [13]:
z

[7, 8, 9]

In [14]:
a = [81,82,83]

In [15]:
b = a[:]  #cria um clone com fatia

In [16]:
print(a == b)

True

In [17]:
print(a is b)

False

In [18]:
b[0] = 5

In [19]:
print(a)
print(b)

[81, 82, 83]
[5, 82, 83]

In [20]:
uma_lista = ['a','b','c','d','e','f']

In [21]:
print(uma_lista[1:3])
print(uma_lista[:4])
print(uma_lista[3:])
print(uma_lista[:])

['b', 'c']
['a', 'b', 'c', 'd']
['d', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

In [39]:
minhaLista = [76, 92.3,"oi", True, 4, 76]

In [31]:
minhaLista[7:] = ["pitomba", 76]

In [40]:
minhaLista

[76, 92.3, 'oi', True, 4, 76]

In [41]:
minhaLista[3] = "cibele"

In [42]:
minhaLista

[76, 92.3, 'oi', 'cibele', 4, 76]

In [43]:
minhaLista[:0] = [99]

In [44]:
minhaLista

[99, 76, 92.3, 'oi', 'cibele', 4, 76]

In [50]:
print(minhaLista[3])

oi

In [51]:
uma_lista = [4,2,8,6,5]

In [52]:
uma_lista = uma_lista + ["cibele"]

In [53]:
print(uma_lista)

[4, 2, 8, 6, 5, 'cibele']

In [58]:
tupla_nova = 10, 20, 30

In [62]:
tupla_elemento = 10

In [63]:
tupla_elemento(10)

TypeError: 'int' object is not callable

In [64]:
tupla_vazia = ()

In [74]:
dicio = {'chave':'valor'}

In [75]:
print(type(dicio))

<class 'dict'>

In [76]:
d = {'laranjas': 15, 'bananas': 35, 'siriguelas': 12}

In [77]:
d['bananas']

35

In [78]:
d['pitombas'] = 20

In [79]:
len(d)

4

In [80]:
d

{'laranjas': 15, 'bananas': 35, 'siriguelas': 12, 'pitombas': 20}

In [81]:
del d['laranjas']

In [82]:
'laranjas'in d

False

In [89]:
frutas = ["pinha", "oiti coró", "jaca", "tamarindo"]

In [90]:
print([1,2]+[3,4])

[1, 2, 3, 4]

In [91]:
print(frutas + [6,7,8,9])

['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]

In [92]:
print([0]*4)

[0, 0, 0, 0]

In [93]:
print([1,2,["oi","tchau"]]*2)

[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]